:root {
    --background-color: #fdfdfb;
    --text-color: #261b0d;
    --hyperlink-color: #a75c01;
    --disabled-hyperlink-color: #ccc;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #000;
        --text-color: #aaa;
        --hyperlink-color: #9b76cc;
        --disabled-hyperlink-color: #dbdee0;
    }
}

html {
    font-family: monospace;
    font-size: 14px;
    background-color: var(--background-color);
    color: var(--text-color);
}

@media screen and (min-width: 320px) {
    html {
        font-size: calc(14px + 8 * (100vw - 320px) / 2240);
    }
}

@media screen and (min-width: 2560px) {
    html {
        font-size: 22px;
    }
}

body {
    max-width: 40em;
    margin: 0 auto;
    padding: 0 1.5em;
}

a {
    color: var(--hyperlink-color);
}

a:hover {
    background-color: var(--hyperlink-color);
    color: var(--background-color);
}

a[disabled] {
    color: var(--disabled-hyperlink-color);
    cursor: not-allowed;
    opacity: 0.5;
}

a:hover[disabled] {
    text-decoration: none;
}
