<header style="text-align: center">
  <h1>Post 8</h1>
  <h4>
    
      <time datetime="2000-01-01">2000-01-01</time>
       | 
    
    SSSG
  </h4>
</header>

<div>
  <p>This is Post 8</p>
<p>This is the main content for Post 8</p>

</div>
