<header style="text-align: center">
  <h1>{{page.title}}</h1>
  <h4>
    {{#if page.date}}
      <time datetime="{{page.date}}">{{page.date}}</time>
      {{#if page.author}} | {{/if}}
    {{/if}}
    {{#if page.author}}{{page.author}}{{/if}}
  </h4>
</header>

<div>
  {{{page.content}}}
</div>
