<header style="text-align: center">
  <h1>Post 2</h1>
  <h4>
    
      <time datetime="1970-01-01">1970-01-01</time>
       | 
    
    SSSG
  </h4>
</header>

<div>
  <p>This is Post 2</p>
<p>This is the main content for Post 2</p>

</div>
