<header style="text-align: center">
  <h1>Post 9</h1>
  <h4>
    
      <time datetime="2021-01-01">2021-01-01</time>
       | 
    
    SSSG
  </h4>
</header>

<div>
  <p>This is Post 9</p>
<p>This is the main content for Post 9</p>

</div>
